html {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  min-height: 100%;
  color: #333;
  margin: 33px;
  padding: 5% 0px 0px 0px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background: url('mardi-gras-background.jpg') fixed no-repeat;
  background-size: cover;
}

.container {
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 80%;
  font-family: 'Emilys Candy', cursive;

}

p, ol, ul, td {
  font-family: 'Emilys Candy', cursive;
  font-size: 25px;
  line-height: 18px;
  padding-top: 15px;
}

.filter {
  background-color: rgba(255,255,255,0.7);
  border-radius: 5px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.game_title {
  color: white;
  font-size: 20px;
  margin: -95px 0px 0px 0px;
  padding: 0px 0px 100px 0px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: #650365;
  font-size: 43px;
  font-weight: 900;
  min-height: auto;
  margin: 0px 0px 0px 0px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.delete_button {
  //position: absolute;
  padding: 35px 0px 0px 0px;
  margin: -95px 0px 0px 0px;
  z-index: 5;
  a {
    padding: 75px;
    z-index: 5;
  }
  a:hover {
    background-color: rgba(0,0,0,0);
  }
}

.winner_notice h1 {
  font-size: 50px;
  color: purple;
  min-height: 200px;
  min-width: 800px;
  padding-top: 100px;
}

.winner_name {
  color: green;
  font-size: 75px;
  min-width: 200px;
}

.winner_frame {
  animation-duration: 10s;
  min-width: 200px;
}


#cell {
  display: inline-block;
  width: auto;
  height: 120px;
  //border: 1px solid rgba(155, 155, 155, 0.5);
  border: 1px solid rgba(0,0,0,0.7);
  border-radius: 10px;
  background-size: 60%;
  background-color: white;
  bottom: 0;
  margin: 5px;
  box-shadow: 0px 5px 0px rgb(155, 155, 155);
  vertical-align: middle;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 18px;
}

#cell:hover {
  background-color: rgba(0, 183, 18, 0.9);
  border: 1px solid white;
  box-shadow: 0px 5px 0px rgba(155, 155, 155, 0.35);
  color: white;
  animation-name: wobble;
  animation-duration: 0.3s;  
}

#cell:active {
  //background-color: purple;
  background-color: #650365;
  animation-name: zoom;
  animation-duration: 0.5s;
//  animation-duration: 1.0s;
}

#cell:visited {
  display: none;
}

.cell_image {
  filter: blur(0.5px);
  display: block;
  margin: -40px 0px 0px 40px;
  z-index: 1;
  opacity: 0.8;
}

.cell_image_case {
  z-index: 1px;
}

.cell_image_blank {
  filter: blur(1px);
  display: block;
  margin: -40px 0px 0px 40px;
  z-index: 1;
  opacity: 0.4;
}

.business_id {
  margin: -32px 0px 0px 115px;
  padding: 0px;
}

.cell_name {
  z-index: 4;
  margin: -32px 0px 0px 0px;
  padding: 0px 10px;
}

.cell_blank {
  color: lightgrey;
  margin: -32px 0px 0px 0px;
  padding: 0px;
}

//@keyframes zoom {
//  0% {
//    transform: scale(1.0);
//  }
//  65% {
//    transform: scale(5.0);
//  }
//  90% {
//    transform: scale(4.0,0.0001);
//  }
//  100% {
//    transform: scale(1.0);
//  }
//}

@keyframes zoom {
  0% {
    transform: scale(1.0);
  }
  10% {
    transform: scale(2.0);
  }
  80% {
    transform: scale(5.0);
  }
  90% {
    transform: scale(5.0,0.1);
  }
  100% {
    tranform: scale(0.1,0.1);
  }
}

@keyframes wobble {
  0% {
    transform: scale(1.0);
  }
  33% {
    transform: rotate3d(1,1,1,5deg);
  }
  66% {
    transform: rotate3d(1,1,1,-5deg);
  }
  100% {
    transform: scale(1.0);
  }
}